VITE_ASSET_BASE_URL=https://storage.yandexcloud.net/your-bucket-name
VITE_YANDEX_METRICA_ID=108640080
VITE_CONTACT_TELEGRAM=@your_telegram
VITE_CONTACT_TELEGRAM_URL=https://t.me/your_telegram
VITE_CONTACT_PINTEREST=@your_pinterest
VITE_CONTACT_PINTEREST_URL=https://pinterest.com/your_profile
VITE_CONTACT_VK=vk.com/your_profile
VITE_CONTACT_VK_URL=https://vk.com/your_profile
VITE_CONTACT_FOURTH_TITLE=Behance
VITE_CONTACT_FOURTH=@your_profile
VITE_CONTACT_FOURTH_URL=https://behance.net/your_profile
VITE_PRIVACY_POLICY_URL=https://your-site.ru/privacy
