.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
}

.deferSection {
  width: 100%;
  content-visibility: auto;
  contain-intrinsic-size: 1000px;
}

.sectionSkeleton {
  width: 100%;
  min-height: 320px;
  background: #f1f2f3;
}
